[submodule "ETOD/vendor/spdlog"]
	path = ETOD/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ETOD/vendor/GLFW"]
	path = ETOD/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ETOD/vendor/imgui"]
	path = ETOD/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "ETOD/vendor/glm"]
	path = ETOD/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ETOD/vendor/yaml-cpp"]
	path = ETOD/vendor/yaml-cpp
	url = git://github.com/TheCherno/yaml-cpp
[submodule "ETOD/vendor/ImGuizmo"]
	path = ETOD/vendor/ImGuizmo
	url = git://github.com/TheCherno/ImGuizmo
[submodule "ETOD/vendor/Box2D"]
	path = ETOD/vendor/Box2D
	url = git://github.com/TheCherno/box2d
